@model MCY_CV3.Models.Tables.Admin
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/css/style.css")

    @Styles.Render("~/Content/css/login.css")
    @Styles.Render("~/Content/all.min.css")
    <title>Login</title>
</head>
<body>
    <div class="container px-0 mt-5 pt-5">
        <div class="login-box">
            <div class="row">
                <div class="col-4 mx-auto my-auto">
                    @using (Html.BeginForm("Login", "Authorization", FormMethod.Post))
                    {
                        <label for="FirstKey">First Key</label>
                        <div class="input-group">
                            <input type="password" id="FirstKey" class="form-control" placeholder="Enter First Key" required="" name="FirstKey" />
                        </div>
                        <label for="SecondKey">Second Key</label>
                        <div class="input-group">
                            <input type="password" id="SecondKey" class="form-control" placeholder="Enter Second Key" required="" name="SecondKey" />
                        </div>
                        <button class="btn btn-primary" type="submit">Login</button>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>
