
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>Title</label>
        <textarea type="text" class="form-control" name="Description_En"></textarea>
    </div>
    <div>
        <label>Link</label>
        <input type="date" class="form-control" name="StartDate" />
    </div>
    <div>
        <label>Symbol</label>
        <input type="date" class="form-control" name="EndDate" />
    </div>
    <div>
        <button class="btn btn-primary">Add ComChannel</button>
    </div>
</form>