
@{
    ViewBag.Title = "Abilities";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using MCY_CV3.Models.Context
@using MCY_CV3.Models.Tables
@model List<Ability>



<div class="row">
    <div class="display-3 mx-auto">Abilities</div>
</div>
<div class="d-block">
    
    <div class="row">
        <div class="col-1">AbilityID</div>
        <div class="col-5">Description_EN</div>
        <div class="col-2">Symbol</div>
    </div>
   @if (Model != null)
   {
        foreach (var itm in Model)
        {
        <div class="row border border-info mx-1">
            <div class="col-md-1">@itm.AbilityID</div>
            <div class="col-md-5">@itm.Description_EN</div>
            <div class="col-md-2"><i class="@itm.Symbol"></i></div>
            <div class="col-md-1"><a href="/Abilities/Delete/@itm.AbilityID" class="btn btn-danger">Delete</a></div>
            <div class="col-md-1"><a href="/Abilities/Update/@itm.AbilityID" class="btn btn-primary">Update</a></div>
        </div>

       }
   }
   else
   {
       <div class="row">
           <div class="mx-auto"><h5>there is no data here</h5> </div>
       </div>
   }

</div>
<a href="/Abilities/Add"class="btn btn-success">Add Ability</a>


