
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using MCY_CV3.Models.Context
@using MCY_CV3.Models.Tables
@model List<Hobby>



<div class="row">
    <div class="display-3 mx-auto">Abilities</div>
</div>
<div class="d-block">

    <div class="row">
        <div class="col-1">AbilityID</div>
        <div class="col-5">Description_EN</div>
        <div class="col-2">Symbol</div>
        <div class="col-2">Images</div>
    </div>
    @if (Model != null)
    {
        foreach (var itm in Model)
        {
            <div class="row border border-info">
                <div class="col-1">@itm.HobbyID</div>
                <div class="col-5">@itm.Description_EN</div>
                <div class="col-2">@itm.Title_EN</div>
                <div class="col-2"><img class="img-fluid" src="@itm.ImageURL" /></div>
                <div class="col-1"><a href="/Hobby/Delete/@itm.HobbyID" class="btn btn-danger">Delete</a></div>
                <div class="col-1"><a href="/Hobby/Update/@itm.HobbyID" class="btn btn-primary">Update</a></div>
            </div>

        }
    }
    else
    {
        <div class="row">
            <div class="mx-auto"><h5>there is no data here</h5> </div>
        </div>
    }

</div>
<a href="/Hobby/Add" class="btn btn-success">Add Hobby</a>


