@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using MCY_CV3.Models.Context
@using MCY_CV3.Models.Tables
@model dynamic

<div class="row my-3">
    @foreach (var itm in Model.Abouts)
    {
        <div class="col-md-12 px-3 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h1>About Me</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12 pt-2">
                    <p>@itm.AboutMe</p>
                </div>
            </div>
        </div>
    }
</div>


<div class="row my-3">
    @foreach (var itm in Model.Abilities)
    {
        <div class="col-md-6 px-3 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <i class="@itm.Symbol fa-2x" style="color:cornflowerblue"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-12 pt-2">
                    <h3 class="text-center">@itm.Description_EN</h3>
                </div>
            </div>
        </div>
    }
</div>
