
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <form method="post" class="form-group">
        <div>
            <label>Description</label>
            <textarea type="text" class="form-control" name="Description_EN"></textarea>
        </div>
        <div>
            <label>Knowledge Level</label>
            <input type="number" class="form-control" name="KnowLvl" min="0" max="100">
        </div>
        <div>
            <button class="btn btn-primary">Add TechKnow</button>
        </div>
    </form>