
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using MCY_CV3.Models.Context
@using MCY_CV3.Models.Tables
@model List<TechKnow>



<div class="row">
    <div class="display-3 mx-auto">TechKnows</div>
</div>
<div class="d-block">

    <div class="row">
        <div class="col-1">TechKnowID</div>
        <div class="col-5">Description_EN</div>
        <div class="col-1">KnowLvl</div>
    </div>
    @if (Model != null)
    {
        foreach (var itm in Model)
        {
            <div class="row border border-info">
                <div class="col-md-1">@itm.TechKnowID</div>
                <div class="col-md-5">@itm.Description_EN</div>
                <div class="col-md-1">@itm.KnowLvl</div>
                <div class="col-md-1"><a href="/TechKnow/Delete/@itm.TechKnowID" class="btn btn-danger">Delete</a></div>
                <div class="col-md-1"><a href="/TechKnow/Update/@itm.TechKnowID" class="btn btn-primary">Update</a></div>
            </div>

        }
    }
    else
    {
        <div class="row">
            <div class="mx-auto"><h5>there is no data here</h5> </div>
        </div>
    }

</div>
<a href="/TechKnow/Add" class="btn btn-success">Add TeckKnow</a>

